.school-list {
    display: flex;
    justify-content:  flex-start;
    align-items: flex-start;
    
  }
  
  .school-link {
    cursor: pointer;
    padding: 20px;
    background-color: #1f242d;
    margin-right: 10px;
  }
  .school-link[data-school="A"] {
    box-shadow: 0 0 10px rgba(190, 211, 33, 0.826);
  }
  .school-link[data-school="B"] {
    box-shadow: 0 0 10px rgba(190, 211, 33, 0.826);
  }
  .school-link[data-school="C"] {
    box-shadow: 0 0 10px rgba(190, 211, 33, 0.826);
    
  }
  
  .school-info {
    display:initial;
    padding: 20px;
    background-color: #1f242d;
    margin-top: 10px;
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    
}

  