@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
#mySection {
    background-color: #1f242d;;
    color: #1f242d;;
  }
body{
background: #1f242d;

color:#1f242d;}
.header {
position : fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content : space-between;
align-items : center;
z-index: 100;
}
.logo{
font-size: 18px;
color:#fff;
text-decoration : none;
font-weight: 100;
cursor: default;
opacity: 0;
animation: slideRight 1s ease forwards;
}
.navbar a{
display: inline-block;
font-size: 18px;
color: #fff;
text-decoration : none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
animation: slideTop .5s ease forwards;
animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
color: #0ef;
}
section{
    margin-top: 100px;
}
nav a:nth-of-type(1)  {
    background-color: rgba(33, 7, 3, 0.37);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: lightgray;
  padding: 10px;
  }
  nav a:nth-of-type(2) {
    background-color: rgba(33, 7, 3, 0.37);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: lightgray;
  padding: 10px;
  }
  nav a:nth-of-type(3) {
    background-color: rgba(33, 7, 3, 0.37);
  box-shadow: 0 0 10px rgba(43, 37, 37, 0.018);
  color: white;
  padding: 10px;
  }
  nav a:nth-of-type(4) {
    background-color: rgba(33, 7, 3, 0.37);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  }
  nav a:nth-of-type(5) {
    background-color: rgba(33, 7, 3, 0.37);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  }

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding: 70px 10% 0;
    }
    .home-content{
        max-width:600px;
      
    }
    .home-content h3{
     font-size:32px;
     font-weight: 700;
     opacity: 0;
     animation: slideBottom 1s ease forwards;
     animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom:30px;
    animation: slideTop 1s ease forwards;
}
.home-content h3 span{
    color:#0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;

}
.home-content p{
    font-size:16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s, 3s;
}
.home-img img{
    max-width: 400px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s;
    


}
.social-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background : transparent;
border: 2px solid#0ef;
border-radius: 50%;
font-size: 20px;
color: #0ef;
text-decoration : none;
margin: 30px 15px 30px 0;
transition: .5 ease;
opacity: 0;
animation: slideLeft 1s ease forwards;
animation-delay: calc(.2s * var(--i));
}
.social-media a:hover{
    background: #0ef;
    color: #1f242d;
}


    .resume {
        /* other styles for .resume */
        text-align: center; /* align all child elements to center */
      }
      
      .resume .btn {
        /* CSS properties for the .btn class within .resume */
        display: inline-block;
    padding: 12px 28px;
    background:#0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration : none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
      }
    @keyframes slideRight{
        0%{
            transform: transleX(-100px);
            opacity: 0;
        }
        100%{
            transform: transleX(0);
            opacity: 1;
        }
    }
    @keyframes slideTop{
        0%{
            transform: translateY(100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes slideBottom{
        0%{
            transform: translateY(-100px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    @keyframes slideLeft{
        0%{
            transform: transleX(100px);
            opacity: 0;
        }
        100%{
            transform: transleX(0);
            opacity: 1;
        }
    }

    @keyframes zoomIn{
        0%{
            transform: scale(0);
            opacity: 0;
        }
        100%{
            transform: scale(1);
            opacity: 1;
        }
    }
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24px);
    }
    100%{
        transform: translateY(0);
    }
}
    
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card{
    height: 500px;
    width: 400px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(37, 124, 205, 0.2);

}
.card:hover {
    top: -20px;
    
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;

}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color:#fcfc;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align:justify;
}
.card .button{
    background-color: #6e07a5;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border:2px solid #f9004d;
    cursor: pointer;
}

.projectH h1 {
    color: red;
    text-align: center;
    font-size: 4pc;
}
.Other h1{
    color: red;
    text-align: center;
    font-size: 4pc;
}
.Contact  h1{
    color: red;
    text-align: center;
    font-size: 4pc;


    
}

.resume h1 {
    color: red;
    text-align: center;
    font-size: 4pc;
    
  }
  
   







.details{
    height: 550px;
    padding: 20px 35px;
    width: 430px;
    margin: 10px;
    background-color: #0d141b;
    padding:  20px 35px;
    position:relative;
    z-index: 1;
    border-radius: 20px;
    border:solid;
    border-color:#191919
    
  }
  .col-md-12:nth-of-type(1) .details,.col-md-12:nth-of-type(3) .details,.col-md-12:nth-of-type(5) .details, .col-md-12:nth-of-type(7) .details {
    height: 450px;
    float: right;
    width: 380px;
    margin-top: 9%;
    border: 4px solid rgb(36, 19, 19);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
   
    

  /*.card{
    height: 500px;
    width: 400px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    transition: top 0.5s ease-in-out; */
    
  .details h2{
    font-size: 14px;
    transition: 0.6s all;
  }
  
  .details a{
    text-decoration: none;
    text-transform: capitalize;
    color:#fff;
    background-color: #2c3e50;
    transition: 0.6s all;
    border: 1px solid #2c3e50;
    font-size: 12px;
    display: inline-block;
    padding: 6px 12px;
  }
  
  
  .details:hover h2,.details:hover p{
    color: #fff;
  }
  .details:hover a{
    background-color: transparent;
    border: 1px solid #fff;
  }
  

